# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

deploymentName: auth-deployment
serviceName: auth-service
appLabel: auth-service
appName: auth-service
hpaName: auth-service-hpa

replicaCount: 1

image:
  repository: khanhquang/auth.service
  tag: 2.0-SNAPSHOT

containerPort: 8182

service:
  type: ClusterIP
  port: 8182
  targetPort: 8182

appname_enabled: true
profile_enabled: true
config_enabled: true
discovery_enabled: true
eureka_instance_hostname_enabled: false
resouceserver_enabled: true
otel_enabled: true
kafka_enabled: true
database_enabled: true
resources_enabled: false
redis_enabled: true

springDatasourceDatabase: auth-service

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 1
  targetCPUUtilizationPercentage: 85
  targetMemoryUtilizationPercentage: ""

socket:
  enabled: false
  type: LoadBalancer
  port: 8082
  targetPort: 8184

resources:
  limits:
    cpu: "500m"
    memory: "1Gi"
  requests:
    cpu: "200m"
    memory: "256Mi"