# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

deploymentName: course-deployment
serviceName: course-service
appLabel: course-service
appName: course-service
hpaName: course-service-hpa

replicaCount: 1

image:
  repository: khanhquang/course.service
  tag: 1.0-SNAPSHOT

containerPort: 8184

service:
  type: ClusterIP
  port: 8184
  targetPort: 8184

appname_enabled: true
profile_enabled: true
config_enabled: true
discovery_enabled: true
eureka_instance_hostname_enabled: false
resouceserver_enabled: true
otel_enabled: true
kafka_enabled: true
database_enabled: true
resources_enabled: false
redis_enabled: true

springDatasourceDatabase: course-service

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 85
  targetMemoryUtilizationPercentage: ""

socket:
  enabled: true
  type: LoadBalancer
  port: 8085
  targetPort: 8085

resources:
  limits:
    cpu: "500m"
    memory: "1Gi"
  requests:
    cpu: "200m"
    memory: "256Mi"