# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

deploymentName: config-server-deployment
serviceName: config-server
appLabel: config-server
appName: config-server
hpaName: config-server-hpa

replicaCount: 1

image:
  repository: com.backend.programming.learning.system/config.server.service
  tag: 1.0-SNAPSHOT

containerPort: 9999

service:
  type: ClusterIP
  port: 9999
  targetPort: 9999

appname_enabled: true
profile_enabled: false
config_enabled: false
discovery_enabled: false
eureka_instance_hostname_enabled: false
resouceserver_enabled: false
otel_enabled: true
kafka_enabled: true
database_enabled: false
resources_enabled: true
redis_enabled: false

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 85
  targetMemoryUtilizationPercentage: ""

socket:
  enabled: false
  type: LoadBalancer
  port: 8082
  targetPort: 8184

resources:
  limits:
    cpu: "500m"
    memory: "1Gi"
  requests:
    cpu: "200m"
    memory: "256Mi"